In [3]:
import pandas as pd
df=pd.read_csv('airline_passengers.csv',index_col='Month',parse_dates=True)

In [4]:
df.head()

            Thousands of Passengers
Month
1949-01-01                      112
1949-02-01                      118
1949-03-01                      132
1949-04-01                      129
1949-05-01                      121

In [7]:
df.index

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name='Month', length=144, freq='MS')

In [6]:
df.index.freq='MS'

In [8]:
df.isna().sum()

Thousands of Passengers    0
dtype: int64

In [9]:
from statsmodels.tsa.stattools import adfuller

In [10]:
result=adfuller(df['Thousands of Passengers'])
result

(0.8153688792060482,
 0.991880243437641,
 13,
 130,
 {'1%': -3.4816817173418295,
  '5%': -2.8840418343195267,
  '10%': -2.578770059171598},
 996.692930839019)

In [11]:
dfout=pd.Series(result[:4],index=['Adf test stat','P-value','#lags','#observations'])
dfout

Adf test stat      0.815369
P-value            0.991880
#lags             13.000000
#observations    130.000000
dtype: float64

In [12]:
df['d1']=df['Thousands of Passengers'].diff()

In [14]:
df.head()

            Thousands of Passengers    d1
Month
1949-01-01                      112   NaN
1949-02-01                      118   6.0
1949-03-01                      132  14.0
1949-04-01                      129  -3.0
1949-05-01                      121  -8.0

In [15]:
result1=adfuller(df['d1'].dropna())
result1

(-2.8292668241699994,
 0.0542132902838255,
 12,
 130,
 {'1%': -3.4816817173418295,
  '5%': -2.8840418343195267,
  '10%': -2.578770059171598},
 988.5069317854084)

In [16]:
dfout1=pd.Series(result1[:4],index=['Adf test stat','P-value','#lags','#observations'])
dfout1

Adf test stat     -2.829267
P-value            0.054213
#lags             12.000000
#observations    130.000000
dtype: float64

In [17]:
df['d2']=df['d1'].diff()

In [18]:
result2=adfuller(df['d2'].dropna())
dfout2=pd.Series(result2[:4],index=['Adf test stat','P-value','#lags','#observations'])
dfout2

Adf test stat   -1.638423e+01
P-value          2.732892e-29
#lags            1.100000e+01
#observations    1.300000e+02
dtype: float64

In [22]:
def adf_test(series,title):
    print('This is Augmented Dickey Fulley Test result on {}'.format(title))
    print()
    print("H0: Data has unit root and is non stationary")
    print('Ha: Data has no unit root and is stationary')
    print('if p>0.05 then accept H0 and p<=0.05 reject H0' )
    
    result=adfuller(series.dropna())
    dfout=pd.Series(result[:4],index=['Adf test stat','P-value','#lags','#observations'])
    
    if result[1]>0.05:
        print('-----------------------------------------')
        print('Data has unit root and is non stationary')
        
    else:
        print('-----------------------------------------')
        print('Data has no unit root and is stationary')

In [25]:
adf_test(df['Thousands of Passengers'],'Thousands of Passengers')

This is Augmented Dickey Fulley Test result on Thousands of Passengers

H0: Data has unit root and is non stationary
Ha: Data has no unit root and is stationary
if p>0.05 then accept H0 and p<=0.05 reject H0
-----------------------------------------
Data has unit root and is non stationary

NameError: name 'model' is not defined